:root {
  --my-bg-color: #12111b;
  /* --my-bg-color: white; */
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--my-bg-color) !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3 {
  font-family: Anton, Arial, Helvetica, sans-serif;
}
/* util  */
.my-hr {
  display: inline-block;
  width: 45% !important;
  width: 10px;
  margin: 0;
  margin-bottom: 2px;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.upper-case {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.custom-hr {
  width: 100%;
  background-image: url("./Components/Images/custom-hr.png");
  background-size: 200vw;
  height: 8px;
  background-repeat: no-repeat;
}
.push {
  height: 50vh;
  background-color: #f2f3f5;
}
/* nav bar */
#logo {
  height: 50px;
  transition: 0.2s;
}
.nav-mobile {
  display: flex;
  flex-direction: column;
}
.my-nav {
  background-color: #12111b;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.nav-link {
  color: white !important;
  font-family: "Roboto Mono", monospace;
  margin-left: 2rem;
}
.nav-link:hover {
  color: orangered !important;
}
@media screen and (min-width: 1024px) {
  #logo {
    height: 150px;
  }
}
/* home */
/* header */
#header-carousel {
  scroll-margin-top: 100px;
}
.header__caption {
  bottom: 5%;
  left: 20%;
  width: 100%;
}
.header__img {
  height: 100vh;
  object-fit: cover;
}
.header__caption h1 {
  font-size: 2rem !important;
  width: 10ch;
  background-color: #5a5d8b55;
  border-radius: 5%;
  padding: 0.5rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .header__caption h1 {
    font-size: 4rem !important;
    background-color: transparent;
  }
  .header__caption {
    top: 10%;
    bottom: auto;
  }
  .header__caption--second {
    left: auto;
    right: -70%;
  }
}
/* programs */
#program {
  scroll-margin-top: 100px;
  margin-bottom: 10rem;
}
.program-box {
  display: flex;
  flex-direction: column;
  margin: 6rem 1rem;
  background-image: url("./Components/Images/hr.png");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position-x: center !important;
  /* background-position-y: center !important; */
}
.program-box__heading {
  position: relative;
  top: -30px;
}
.program-box__caption {
  position: relative;
  top: 30px;
}
.program-header {
  margin-bottom: 10rem;
  font-family: "Roboto Mono", monospace;
}
@media screen and (min-width: 544px) {
  .program-box {
    background-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  .programs__content {
    display: flex;
    flex-direction: row;
    margin: 1rem 5rem;
  }
  .program-box {
    margin: 0;
    width: 100%;
  }
  .program-box {
    background-size: 300%;
  }
}
/* about me  */
#about-me-wrapper {
  scroll-margin-top: 100px;
}
.about-me {
  display: flex;
  flex-direction: column;
}
.about-me__text {
  margin-top: 2rem;
}
.about-me__heading {
  font-family: Anton, Arial, Helvetica, sans-serif;
}
.about-me__caption {
  margin-top: 2rem;
  margin-right: 5rem;
  margin-left: 2rem;
  text-align: left;
}
.about-me__btn {
  background-color: #777de8 !important;
  margin: 5rem 2rem;
  padding: 1rem 3rem !important;
}
.about-me__last-heading {
  max-width: 15ch;
  margin-left: 2rem;
  text-align: left;
}
.about-me__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  #about-me-wrapper {
    scroll-margin-top: 200px;
  }
  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
  }

  .about-me__text {
    max-width: 70%;
    margin: 0 auto;
  }
  .about-me__caption {
    margin: 0;
  }
  .about-me__btn {
    margin-bottom: 2rem;
    margin-top: 0;
    position: relative;
    left: 10rem;
  }
  .about-me__img {
    height: 800px;
    max-height: 900px;
    object-fit: cover;
  }
  #about-me-wrapper .about-me:nth-of-type(2n) {
    margin-top: 0;
  }
  .my-order-1 {
    order: 1;
  }
}
/* services */
#services {
  background-color: white;
  scroll-margin-top: 100px;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services__card {
  max-width: 18rem;
  margin-bottom: 3rem;
}
.services__card-title {
  text-transform: uppercase;
  font-family: Anton, Arial, Helvetica, sans-serif;
}
.services__card-btn {
  margin-top: 2rem;
}
@media screen and (min-width: 1024px) {
  .card-wrapper {
    flex-direction: row;
    align-items: start;
  }
  .services__card {
    margin: 3rem 2rem;
    width: 30rem;
  }
  .services__card-img {
    height: 13rem;
    object-fit: cover;
  }
}
/* resume */
#resume {
  background-color: #f2f3f5;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.resume__heading {
  color: black;
}
.resume__list {
  color: black;
  text-align: left;
  font-size: 1rem;
  padding: 2rem;
}
.resume__img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  #resume {
    flex-direction: row;
    justify-content: space-between;
  }
  .resume__heading {
    text-align: left;
    margin-left: 1rem;
  }
  .resume__text {
    padding: 5rem;
    padding-top: 10rem;
  }
}
/* adidas */
#adidas {
  background: white;
  color: black;
  font-family: Anton, Arial, Helvetica, sans-serif;
}

/* nutrition */
#nutrition {
  background: white;
  color: black;
  padding: 3rem;
}
.nutrition__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nutrition__img {
  max-width: 100%;
  height: auto;
  margin: 2rem 1rem;
}
.nutrition__caption {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .nutrition__content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
  }
  .nutrition__img {
    margin: auto;
  }
  .nutrition__caption {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 3.5rem;
  }
}
/* certifications */
#certification {
  display: grid;
  justify-content: center;
  align-content: center;
  color: black;
  background-color: white;
}
.certification__img {
  max-width: 100%;
  height: auto;
}
.certification__content {
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.certification__heading {
  font-style: italic;
}
.certification__list-item {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.certification__btn {
  width: 50%;
  align-self: center;
}
@media screen and (min-width: 1024px) {
  #certification {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 10rem;
  }
  .certification__btn {
    padding: 1rem 0.5rem;
    width: 30%;
  }
  .certification__img {
    max-width: 70%;
    height: auto;
  }
}
/* gallery */
#gallery {
  /* margin-top: 5rem; */
  scroll-margin-top: 100px;
}
.gallery__heading {
  margin: 2rem 1rem;
}

/* contact */
#contact {
  background-color: #f2f3f5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 50px;
}
.contact__img {
  max-width: 100%;
  height: auto;
}
.contact__icons {
  margin: 1rem;
}
.my-icon {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  background-repeat: no-repeat !important;
  background-position: center !important;
  text-decoration: none;

  color: white;
}
.my-icon--facebook {
  background: url("./Components/Images/icons/facebook.svg");
}
.my-icon--telegram {
  background: url("./Components/Images/icons/telegram.svg");
}
.my-icon--whatsapp {
  background: url("./Components/Images/icons/whatsapp.svg");
}
.my-icon--instagram {
  background: url("./Components/Images/icons/instagram.svg");
}
.my-icon--linkedin {
  background: url("./Components/Images/icons/linkedin.svg");
}
.contact__details a {
  color: orangered;
  font-family: Anton, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 1024px) {
  .contact__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact__details a {
    font-size: 1.5rem;
  }
}

/* messeage */
#messeage {
  padding: 2rem;
  background-color: #f2f3f5;
}
.my-input {
  margin: 1rem;
  width: 100%;
  color: #0c0c0c;
  background-color: rgba(255, 255, 255, 0);
  border-color: #d5d5d5;
  border-width: 0 0 1px 0;
  box-shadow: unset;
  resize: none;
  font-family: "Arial", Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 1024px) {
  #messeage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* my serivces */
.big-plan {
  margin: 2rem 2rem;
  background-color: #d9b4ff;
  border-radius: 40px;
  color: black;
  font-size: 1.5rem;
  padding: 2rem;
}
.small-plan {
  margin: 2rem 2rem;
  background-color: #d9b4ff;
  border-radius: 40px;
  color: black;
  padding: 3rem 2rem;
}
.small-plan-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small-plan--primary {
  background-color: #e29bff;
}
@media screen and (min-width: 1024px) {
  #my-services {
    margin: 3rem;
  }
  .small-plan {
    padding: 8rem 2rem;
    padding-top: 4rem;
    position: relative;
    max-width: 300px;
  }
  .small-plan__heading {
    margin-bottom: 2rem;
  }
  .small-plan__btn {
    position: absolute;
    bottom: 5%;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }
  .small-plan-wrapper {
    flex-direction: row;
    margin: 2rem 10rem;
  }
}
/* my services content */
#my-services-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.myservices-content__video {
  max-width: 70%;
  height: auto;
}
.time-table {
  margin: 2rem;
  background-color: white;
  padding: 2rem;
}
.time-table__heading {
  color: black;
  font-family: Anton;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1rem;
}
.time-table__day {
  color: #303030;
  background-color: #f8f8f8;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
}
.time-table__time {
  color: #c3c6fd;
}
.my-services-content-text {
  margin: 10rem 2rem;
}
.my-services__email {
  /* background: #c3c6fd; */
  padding: 0.5rem;
  border-radius: 10px;
  color: orangered !important;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  #my-services-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .time-table {
    margin-top: 0;
  }
  .my-services-content-caption {
    font-size: 2rem;
  }
  .my-services__email {
    font-size: 2rem;
  }
}
