:root {
  --my-bg-color: #12111b;
  /* --my-bg-color: white; */
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--my-bg-color) !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* util  */
.my-hr {
  display: inline-block;
  width: 45% !important;
  width: 10px;
  margin: 0;
  margin-bottom: 2px;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.upper-case {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.header__caption {
  top: 0;
}
.custom-hr {
  width: 100%;
  background-image: url("./Components/Images/custom-hr.png");
  background-size: 200vw;
  height: 8px;
  background-repeat: no-repeat;
}
/* nav bar */
#logo {
  height: 50px;
  transition: 0.2s;
}
.my-nav {
  background-color: #12111b;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.nav-link {
  color: white !important;
  font-family: "Roboto Mono", monospace;
  margin-left: 2rem;
}
.nav-link:hover {
  color: orangered !important;
}
@media screen and (min-width: 1024px) {
  #logo {
    height: 150px;
  }
}
/* home */

/* programs */
.program-box {
  display: flex;
  flex-direction: column;
  margin: 6rem 1rem;
  background-image: url("./Components/Images/hr.png");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position-x: center !important;
  /* background-position-y: center !important; */
}
.program-box__heading {
  position: relative;
  top: -30px;
}
.program-box__caption {
  position: relative;
  top: 30px;
}
.program-header {
  margin-bottom: 10rem;
  font-family: "Roboto Mono", monospace;
}
@media screen and (min-width: 544px) {
  .program-box {
    background-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  .programs__content {
    display: flex;
    flex-direction: row;
    margin: 1rem 5rem;
  }
  .program-box {
    margin: 0;
    width: 100%;
  }
  .program-box {
    background-size: 300%;
  }
}
/* about me  */
.about-me {
  display: flex;
  flex-direction: column;
}
.about-me__text {
  margin-top: 2rem;
}
.about-me__heading {
  font-family: Anton, Arial, Helvetica, sans-serif;
}
.about-me__caption {
  margin-top: 2rem;
  margin-right: 5rem;
  margin-left: 2rem;
  text-align: left;
}
.about-me__btn {
  background-color: #777de8 !important;
  margin: 5rem 2rem;
  padding: 1rem 3rem !important;
}
.about-me__last-heading {
  max-width: 15ch;
  margin-left: 2rem;
  text-align: left;
}
.about-me__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
  }

  .about-me__text {
    max-width: 50%;
    margin: 0 auto;
  }
  .about-me__caption {
    margin: 0;
  }
  .about-me__btn {
    margin-bottom: 0;
  }
  .about-me__img {
    max-height: 800px;
    object-fit: cover;
  }
  #about-me-wrapper .about-me:nth-of-type(2n) {
    margin-top: 0;
  }
  .my-order-1 {
    order: 1;
  }
}
/* services */
#services {
  background-color: white;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services__card {
  width: 18rem;
  margin-bottom: 3rem;
}
.services__card-title {
  text-transform: uppercase;
  font-family: Anton, Arial, Helvetica, sans-serif;
}
.services__card-btn {
  margin-top: 2rem;
}
@media screen and (min-width: 1024px) {
  .card-wrapper {
    flex-direction: row;
    align-items: start;
  }
  .services__card {
    margin: 3rem 2rem;
    width: 30rem;
  }
}
/* resume */
#resume {
  background-color: #f2f3f5;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.resume__heading {
  color: black;
}
.resume__list {
  color: black;
  text-align: left;
  font-size: 1rem;
  padding: 2rem;
}
.resume__img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  #resume {
    flex-direction: row;
    justify-content: space-between;
  }
  .resume__heading {
    text-align: left;
    margin-left: 1rem;
  }
  .resume__text {
    padding: 5rem;
    padding-top: 10rem;
  }
}
/* adidas */
#adidas {
  background: white;
  color: black;
  font-family: Anton, Arial, Helvetica, sans-serif;
}
